 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
 /**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
  .cf {
     *zoom: 1;
 }
 
body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
    background-image: url(images/moroccan-flower.png);
}
.container {
    width: 60%;
    margin: auto;
    background-color: #fff;
}
.container-header {
    
    padding: 5px;
}
.container-header h1 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
}
.navigasi-container {
    margin-left: 650px;
}
.navigasi-container li {
    font-size:20px ;
    font-style: none;
    display: inline-block;
    margin-right: 2px;
    
}
.container-header a {
    text-decoration: none;
    color: tomato;
}

.container-header a:hover{
    background-color: rgb(71, 128, 185);
    border-radius: 5px;
    transition: 1s;
    
}
.container-images{
    height: 300px;
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-position:0 -100px;
    border-top: 5px solid tomato;
    border-bottom: 5px solid skyblue;
    
}

.container-article {
    padding: 10px;
    width: 65%;
    float: left;
    
}

.container-article h2 {
    font-size: 28px;
    font-weight: bold;
}
.container-article .writer {
    font-size: 11px;
    margin-top: -5px;
    
}
.writer a {
    color: salmon;
    text-decoration: none;
}

.container-article .content  {
    text-indent: 20px;
    text-align: justify;
    margin: 20px;
    font-size: 14px;

}
.container.profile{
    width: 35%;
    float: right;
    
}
.heading-profile {
    font-size: 20px;
    font-weight: bold;
    font: arial;
    padding: 10px;
}
.images-profile {
    float: left;
    padding: 20px;
}
.article-profile {
    font-size: 14px;
    margin: 10px;
    padding: 10px;
    text-align: justify;

}

.container-footer {
    background-color: #333;
    padding: 10px;
}
.container-footer .copyright{
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}
